<head>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
</head>
<%= render 'sessions/header'%>

<div id="login-section">
    <div>
        <div class="login-buttons">
        <%= submit_tag "Prendas" , :class => "btn-login" %>
        </div>    
        <div class="login-buttons">
        <%= submit_tag "Guardarropa" , :class => "btn-login" %>
        </div>    
        <div class="login-buttons">
        <%= submit_tag "Atuendo" , :class => "btn-login" %>
        </div>
    </div>

    <div>
    <% if @guardarropas.blank? %>
        <span class="text-center">Todavía no agregaste guardarropas <i class="fa fa-meh-o"></i></span>
      <% else %>
        <% @guardarropas.each do |g| %>
          <li class="prendas-all-from-guardarropa-unit">
            <%= render 'guardarropas/guardarropa', guardarropa: g %>
          </li>
      <% end %>
    <% end %>
    </div>

    <div>
    <% @guardarropas.each do |g| %>
        <% if g.prendas.blank? %>
        
        <% else %>
            <% g.prendas.each do |p| %>
            <li class="prendas-all-from-guardarropa-unit">
                <%= render 'guardarropas/prenda', prenda: p %>
            </li>
            <%end%>
        <% end %>
    <% end %>    
    </div>
    <div>
    <% @guardarropas.each do |g| %>
        <% if g.atuendos.blank? %>
        <p>Test</p>
        <% else %>
            <% g.atuendos.each do |a| %>
            <li class="prendas-all-from-guardarropa-unit">
                <%= render 'atuendos/atuendo', atuendo: a %>
            </li>
            <%end%>
        <% end %>
    <% end %> 
    </div>
</div>

<script>
$(document).ready(function() {
	$("#menu-toggle").click(function() {
		$("#side-nav").toggle();
	});
});
</script>
